@model IList<Student>
<div>
    <h2>Merhaba Dünya</h2>
</div>
<div>
    <p style="font-weight: bolder;">
        @DateTime.Now.ToString()
    </p>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
        
    </table>
</div>