@model _53_WEB_IdentityRole.Models.VMs.UserRoleVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>UserRoleVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-items="@(new SelectList(Model.Roles,"Name"))" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

